* {
  margin: 0;
  padding: 0;
  font-family: 'helvetica';
}

header,
footer {
    width: 100%;
    height: auto;
    background-color: rgb(235, 87, 210);
    color: white;
    padding: 10px;
}

h1,
h2 {
    text-align: center;
}

img {
  display: block;
  height: auto;
  width: 80px;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  animation: spin 10s linear infinite; 

}


img:hover {
  display: block;
  height: auto;
  width: 80px;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  animation-play-state: paused;
  
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}


ul {
  padding-left: 40px;
  font-size: 20px;
  padding-bottom: 15px;
  padding-top: 15px;
}

p {
  text-align: center;
  font-size: 30px;
}

.card {
  width: 80%;
  margin: 40px auto;
  border: 5px solid gray;
  box-shadow: 5px 10px #888888;
  padding-top: 15px;
}

